.About {
	margin: 0rem;
	display: flex;
	position: relative;
	margin-inline: auto;
	height: calc(100vh - 3.75rem);
	height: calc(100svh - 3.75rem);

	// .about-bground {
	// 	clip-path: polygon(0 0%, 33% 0, 33% 100%, 0% 100%);

	// 	// background-color: #caffbf;
	// 	width: 100vw;
	// 	height: 100%;
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	background: linear-gradient(56deg,
	// 			#181e78,
	// 			#181e78,
	// 			#222774,
	// 			#171b6b,
	// 			#23266c,
	// 			#6e71aa,
	// 			#194f74,
	// 			#191d74,
	// 			#191d74,
	// 			#191d74);
	// 	background-size: 2000% 2000%;

	// 	-webkit-animation: AnimationName 10s ease infinite;
	// 	-moz-animation: AnimationName 10s ease infinite;
	// 	-o-animation: AnimationName 10s ease infinite;
	// 	animation: AnimationName 10s ease infinite;


	// 	@-webkit-keyframes AnimationName {
	// 		0% {
	// 			background-position: 71% 0%;
	// 		}

	// 		50% {
	// 			background-position: 30% 100%;
	// 		}

	// 		100% {
	// 			background-position: 71% 0%;
	// 		}
	// 	}

	// 	@-moz-keyframes AnimationName {
	// 		0% {
	// 			background-position: 71% 0%;
	// 		}

	// 		50% {
	// 			background-position: 30% 100%;
	// 		}

	// 		100% {
	// 			background-position: 71% 0%;
	// 		}
	// 	}

	// 	@-o-keyframes AnimationName {
	// 		0% {
	// 			background-position: 71% 0%;
	// 		}

	// 		50% {
	// 			background-position: 30% 100%;
	// 		}

	// 		100% {
	// 			background-position: 71% 0%;
	// 		}
	// 	}

	// 	@keyframes AnimationName {
	// 		0% {
	// 			background-position: 71% 0%;
	// 		}

	// 		50% {
	// 			background-position: 30% 100%;
	// 		}

	// 		100% {
	// 			background-position: 71% 0%;
	// 		}
	// 	}

	// 	width: 100%;
	// 	height: 100%;
	// 	position: absolute;
	// 	top: 0rem;
	// 	right: 0rem;

	// }

	.about-Wrapper {
		width: 100%;
		display: flex;
		padding: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: auto;

		.pageTitleSec {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: auto;
			margin-bottom:1rem;
			.pageTitle {
				font-weight: 300;
				font-size: clamp(1rem, -1.0861rem + 7.947vw, 3.5rem);
				display: flex;
				align-items: center;
				justify-content: center;
				// height: 100%;
			}
		}

		.about_info_Sec {
			height: 100%;
			display: flex;
			.about-left {
				flex: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				height: 100%;
				padding: 1rem;

				.about-card {
					height: 100%;

					.selfDesc {
						.a-title {
							font-weight: 300;
							font-size: 2rem;
							font-size: clamp(1rem, -1.0861rem + 7.947vw, 4.5rem);
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
				}

			}

			.about-right {
				flex: 2.5;
				display: flex;

				justify-content: center;
				align-items: center;
				position: relative;
				height: 100%;
			}
		}

	}

}


// // ******Media Queries ******

// // Todo 1#	min-width:320px
// @media screen and (min-width: 320px) {
// 	.About {
// 		font-size: 11.5px;
// 		flex-direction: column;
// 		height: 100%;
// 		width: 100vw;
// 		.about-bground {
// 			height: 100%;
// 		}
// 		.about-left {
// 			flex: none;
// 			height: 30%;
// 			width: 90%;
// 			.about-card.shadowBg {
// 				position: absolute;
// 				top: 10px;
// 				left: 30px;
// 			}
// 		}
// 		.about-right {
// 			flex: none;
// 			height: 65%;
// 			width: 95vw;
// 			padding: 0 10px;

// 			display: flex;
// 			justify-content: space-evenly;
// 			flex-direction: column;
// 			.a-title {
// 				font-size: 2.5rem;
// 			}

// 			.a-award {
// 				margin-top: 10px;
// 				justify-content: space-evenly;
// 				.a-award-img {
// 					width: 60px;
// 					height: 60px;
// 					border-radius: 10px;
// 					.a-award-texts {
// 						width: 70%;
// 						// font-size: 3rem;
// 					}
// 				}
// 			}
// 			.a-title {
// 				font-weight: 300;
// 				// font-size: 2.625rem;
// 				text-align: center;
// 			}
// 			.a-sub {
// 				margin: 0px 0px;
// 				text-align: center;
// 				// font-size: 1.1em;
// 			}
// 			.a-desc {
// 				text-align: center;
// 				// font-size: 1.1em;
// 			}
// 			.a-desc.LgScreen {
// 				display: none;
// 			}
// 			.a-desc.smScreen {
// 				display: block;
// 				padding: 0 10px;
// 			}
// 		}
// 	}
// }

// //todo	 2# min-width:480px
// @media screen and (min-width: 480px) {
// 	.About {
// 		font-size: 11px;
// 		flex-direction: row;
// 		height: 100%;
// 		width: 100vw;

// 		display: flex;
// 		justify-content: center;

// 		.about-bground {
// 			height: 100%;
// 		}
// 		.about-left {
// 			height: 100%;
// 			width: 40%;
// 			.about-card.shadowBg {
// 				position: absolute;
// 				top: 10px;
// 				left: 30px;
// 			}
// 			// display: none;
// 		}
// 		.about-right {
// 			height: 100%;
// 			width: 55%;
// 			padding: 0 10px;
// 			display: flex;
// 			flex-direction: column;
// 			justify-content: space-evenly;

// 			.a-award {
// 				display: none;
// 			}

// 			.a-title {
// 				font-weight: 400;
// 				font-size: 2rem;
// 				text-align: center;
// 			}
// 			.a-sub {
// 				margin: 0px 0px;
// 				text-align: center;
// 			}
// 			.a-desc {
// 				text-align: center;
// 			}
// 			.a-desc.LgScreen {
// 				display: none;
// 			}
// 			.a-desc.smScreen {
// 				display: block;
// 				padding: 0 10px;
// 			}
// 		}
// 	}
// }

// //4 min-width:768px
// @media screen and (min-width: 768px) {
// 	.About {
// 		font-size: 12px;
// 		flex-direction: column;
// 		height: 100%;
// 		width: 100vw;

// 		display: flex;
// 		justify-content: center;

// 		.about-bground {
// 			height: 100%;
// 		}
// 		.about-left {
// 			height: 40%;
// 			width: 100%;
// 			.about-card.shadowBg {
// 				position: absolute;
// 				top: 10px;
// 				left: 30px;
// 			}
// 			// display: none;
// 		}
// 		.about-right {
// 			height: 60%;
// 			width: 90%;
// 			padding: 0 10px;
// 			display: flex;
// 			flex-direction: column;
// 			justify-content: space-evenly;

// 			.a-title {
// 				font-weight: 300;
// 				font-size: 3rem;
// 				text-align: center;
// 			}
// 			.a-sub {
// 				margin: 0px 0px;
// 				text-align: center;
// 				font-size: 1.4rem;
// 			}
// 			.a-desc {
// 				text-align: center;
// 				font-size: 1.3rem;
// 			}
// 			.a-desc.LgScreen {
// 				display: none;
// 			}
// 			.a-desc.smScreen {
// 				display: block;
// 				padding: 0 10px;
// 			}
// 			.a-award {
// 				display: flex;
// 				font-size: 1.3rem;
// 			}
// 		}
// 	}
// }

// //5 min-width: 992px
// @media screen and (min-width: 992px) {
// 	.About {
// 		font-size: 12px;
// 		flex-direction: row;
// 		height: 100%;
// 		width: 100vw;

// 		display: flex;
// 		justify-content: center;

// 		.about-bground {
// 			height: 100%;
// 		}
// 		.about-left {
// 			height: 100%;
// 			width: 45%;
// 			.about-card.shadowBg {
// 				position: absolute;
// 				top: 10px;
// 				left: 30px;
// 			}
// 			// display: none;
// 		}
// 		.about-right {
// 			height: 100%;
// 			width: 50%;
// 			// padding: 0 10px;
// 			display: flex;
// 			flex-direction: column;
// 			justify-content: space-evenly;

// 			.a-title {
// 				font-weight: 300;
// 				font-size: 3rem;
// 				text-align: center;
// 			}
// 			.a-sub {
// 				margin: 0px 0px;
// 				text-align: center;
// 				font-size: 1.2rem;
// 			}
// 			.a-desc {
// 				text-align: center;
// 				font-size: 1.1rem;
// 			}
// 			.a-desc.LgScreen {
// 				display: none;
// 			}
// 			.a-desc.smScreen {
// 				display: block;
// 				padding: 0 10px;
// 			}
// 			.a-award {
// 				display: flex;
// 				font-size: 1.1rem;
// 			}
// 		}
// 	}
// }
// @media screen and (min-width: 1200px) {
// 	.About {
// 		font-size: 12px;
// 		flex-direction: row;
// 		height: 100%;
// 		width: 100vw;

// 		display: flex;
// 		justify-content: center;

// 		.about-bground {
// 			height: 100%;
// 		}
// 		.about-left {
// 			height: 100%;
// 			width: 45%;
// 			.about-card.shadowBg {
// 				position: absolute;
// 				top: 10px;
// 				left: 30px;
// 			}
// 			// display: none;
// 		}
// 		.about-right {
// 			height: 100%;
// 			width: 50%;
// 			padding: 0 0px;
// 			display: flex;
// 			flex-direction: column;
// 			justify-content: space-evenly;

// 			.a-title {
// 				font-weight: 300;
// 				font-size: 3rem;
// 				text-align: center;
// 			}
// 			.a-sub {
// 				margin: 0px 0px;
// 				text-align: center;
// 				font-size: 1.2rem;
// 			}
// 			.a-desc {
// 				text-align: center;
// 				font-size: 1.1rem;
// 			}
// 			.a-desc.LgScreen {
// 				display: block;
// 				text-align: start;
// 			}
// 			.a-desc.smScreen {
// 				display: none;
// 				padding: 0 10px;
// 			}
// 			.a-award {
// 				display: flex;
// 				font-size: 1.1rem;
// 			}
// 		}
// 	}
// }