.Contact {
	width: 100vw;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	.contact-bg {
		clip-path: polygon(69% 0, 100% 0, 100% 100%, 33% 100%);

		background-color: #a0c4ff;
		width: 100vw;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
	}
	.contact-Wrapper {
		// padding: 50px;
		display: flex;
		z-index: 1;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		.c-Left {
			// flex: 1;
			width: 50%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.c-title {
				font-size: 3.75rem;
				width: 80%;
				font-weight: 500;
			}
			.c-title.smScreen {
				display: none;
			}
			.c-info {
				.c-info-item {
					display: flex;
					align-items: center;
					margin: 3.125rem 0;
					font-weight: 300;
					width: 70%;
					.c-icon {
						width: 1.875rem;
						height: 1.875rem;
						margin-right: 1.25rem;
					}
				}
			}
		}
		.c-Right {
			// flex: 1;

			width: 50%;
			height: 100%;
			display: flex;
			// flex-direction: column;
			align-items: center;
			justify-content: center;
			.c-right-wrapper {
				padding: 0.625rem;
				width: 80%;
				height: 80%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;
				.c-desc {
					font-weight: 400;
				}
				.c-desc.SmScreen {
					display: none;
				}
				form {
					margin-top: 1.25rem;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: space-between;
					width: 100%;
					height: 60%;
					input {
						width: 50%;
						height: 3.125rem;
						border: none;
						border-bottom: 1px solid black;
						margin: 0.625rem 0px;
						font-size: 0.875em;
						padding-left: 0.625rem;
					}
					textarea {
						width: 70%;
						margin: 0/625rem 0;
						font-size: 0.875em;
						padding-left: 0.625rem;
						border-bottom: 1px solid black;
					}
					button {
						border: none;
						padding: 0.938rem;
						background-color: #59b256;
						color: white;
						font-weight: 500;
						cursor: pointer;
						margin-top: 20px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 320px) {
	.Contact {
		font-size: 12px;
		width: 100%;
		height: 100%;
		.contact-Wrapper {
			width: 95%;
			flex-direction: column;
			// padding: 10px 50px;
			height: 100%;
			justify-content: space-evenly;
			.c-Left {
				height: 35%;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				// overflow: auto;
				.c-title {
					font-size: 1.8rem;
					width: 100%;
					font-weight: 300;
					text-align: center;
				}
				.c-title.LgScreen {
					display: none;
				}
				.c-title.smScreen {
					display: block;
				}
				.c-info {
					margin: 0;
					// margin-top: 15px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-evenly;
					.c-info-item {
						display: flex;
						align-items: center;
						// margin: 0;
						margin: 10px 0;
						font-weight: 300;
						width: 100%;
						font-size: 0.95rem;
					}
				}
			}
			.c-Right {
				height: 55%;
				width: 100%;
				// overflow: auto;
				.c-right-wrapper {
					padding: 0;
					height: 100%;
					width: 100%;
					.c-desc.LgScreen {
						display: none;
						.Q-title {
							display: initial;
							text-align: center;
							font-weight: 300;
						}
					}
					.c-desc.SmScreen {
						display: inline-block;
						margin-top: 0;
						font-size: 12px;
						font-weight: 300;
						.Q-title {
							text-align: center;
							font-weight: 600;
						}
					}
					form {
						display: flex;
						flex-direction: column;
						width: 100%;
						align-items: center;
						flex-wrap: wrap;
						justify-content: center;
						height: 100%;
						overflow: auto;
						margin-top: 0;
						input {
							width: 80%;
							height: 20px;
							font-size: 12px;
						}
						textarea {
							width: 80%;
							margin: 10px 0px;
							font-size: 12px;
							padding-left: 10px;
						}
						button {
							border: none;
							padding: 8px;
							background-color: #59b256;
							color: white;
							font-weight: 300;
							cursor: pointer;
							margin: 0 auto;
							display: block;
							border-radius: 10%;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 480px) {
	.Contact {
		font-size: 12px;

		width: 100%;
		height: 100%;
		.contact-Wrapper {
			width: 95%;
			flex-direction: row;
			// padding: 10px 50px;
			height: 100%;
			.c-Left {
				height: 100%;
				width: 50%;
				overflow: hidden;
				.c-title {
					font-size: 2.625em;
					width: 100%;
					font-weight: 400;
					text-align: center;
				}
				.c-title.LgScreen {
					display: none;
				}
				.c-title.smScreen {
					display: block;
				}
				.c-info {
					margin: 15px 0;
					.c-info-item {
						display: flex;
						align-items: center;
						margin: 10px 0;
						font-weight: 400;
						width: 100%;
						font-size: 14px;
					}
				}
			}
			.c-Right {
				height: 100%;
				width: 50%;
				// overflow: auto;
				.c-right-wrapper {
					padding: 0;
					height: 100%;
					width: 100%;

					.c-desc.LgScreen {
						display: none;
						.Q-title {
							display: initial;
							text-align: center;
							font-weight: 300;
						}
					}
					.c-desc.SmScreen {
						display: inline-block;
						margin-top: 0;
						font-size: 12px;
						font-weight: 300;
						display: none;
						.Q-title {
							text-align: center;
							font-weight: 600;
						}
					}
					form {
						display: flex;
						// flex-direction: column;
						width: 100%;
						align-items: center;
						flex-wrap: wrap;
						justify-content: center;
						height: 100%;
						// overflow: auto;
						margin-top: 0;
						input {
							width: 80%;
							height: 20px;
						}
						textarea {
							width: 80%;
							margin: 10px 0px;
							font-size: 14px;
							padding-left: 10px;
						}
						button {
							border: none;
							padding: 8px;
							background-color: #59b256;
							color: white;
							font-weight: 500;
							cursor: pointer;
							margin: 0 auto;
							display: block;
							border-radius: 10%;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.Contact {
		font-size: 18px;
		width: 100%;
		height: 100%;
		.contact-Wrapper {
			width: 95%;
			flex-direction: column;
			// padding: 10px 50px;
			height: 100%;
			.c-Left {
				height: 40%;
				width: 100%;
				// overflow: auto;
				justify-content: space-evenly;
				.c-title {
					font-size: 3em;
					width: 100%;
					font-weight: 400;
					text-align: center;
				}
				.c-title.LgScreen {
					display: none;
				}
				.c-title.smScreen {
					display: block;
				}
				.c-info {
					margin: 15px 0;
					.c-info-item {
						display: flex;
						align-items: center;
						margin: 10px 0;
						font-weight: 400;
						width: 100%;
						font-size: 20px;
					}
				}
			}
			.c-Right {
				height: 60%;
				width: 100%;
				// overflow: auto;
				.c-right-wrapper {
					padding: 0;
					height: 100%;
					width: 100%;
					.c-desc.LgScreen {
						display: none;
						.Q-title {
							display: block;
							text-align: center;
						}
					}
					.c-desc.SmScreen {
						display: block;
						font-size: 1.3em;
					}
					form {
						display: flex;
						flex-direction: column;
						width: 90%;
						align-items: center;
						flex-wrap: wrap;
						justify-content: space-evenly;
						height: 90%;
						// overflow: auto;
						margin-top: 0;
						input {
							width: 80%;
							height: 40px;
						}
						textarea {
							width: 80%;
							margin: 10px 0px;
							font-size: 14px;
							padding-left: 10px;
						}
						button {
							font-size: 1.2em;
							border: none;
							padding: 8px;
							background-color: #59b256;
							color: white;
							font-weight: 500;
							cursor: pointer;
							margin: 0 auto;
							display: block;
							border-radius: 10%;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.Contact {
		font-size: 20px;
		width: 100%;
		height: 100%;
		.contact-Wrapper {
			width: 95%;
			flex-direction: column;
			// padding: 10px 50px;
			height: 100%;
			.c-Left {
				height: 40%;
				width: 100%;
				// overflow: auto;
				justify-content: space-evenly;
				.c-title {
					font-size: 3em;
					width: 100%;
					font-weight: 400;
					text-align: center;
				}
				.c-title.LgScreen {
					display: none;
				}
				.c-title.smScreen {
					display: block;
				}
				.c-info {
					margin: 15px 0;
					.c-info-item {
						display: flex;
						align-items: center;
						margin: 10px 0;
						font-weight: 400;
						width: 100%;
						font-size: 20px;
					}
				}
			}
			.c-Right {
				height: 60%;
				width: 100%;
				// overflow: auto;
				.c-right-wrapper {
					padding: 0;
					height: 100%;
					width: 100%;
					.c-desc.LgScreen {
						display: none;
						.Q-title {
							display: block;
							text-align: center;
						}
					}
					.c-desc.SmScreen {
						display: block;
						font-size: 1.2rem;
					}
					form {
						display: flex;
						flex-direction: column;
						width: 90%;
						align-items: center;
						flex-wrap: wrap;
						justify-content: space-around;
						height: 85%;
						// overflow: auto;
						margin-top: 0;
						input {
							width: 80%;
							height: 30px;
						}
						textarea {
							width: 80%;
							margin: 10px 0px;
							font-size: 14px;
							padding-left: 10px;
						}
						button {
							font-size: 1.1em;
							border: none;
							padding: 8px;
							background-color: #59b256;
							color: white;
							font-weight: 500;
							cursor: pointer;
							margin: 0 auto;
							display: block;
							border-radius: 10%;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.Contact {
		font-size: 20px;
		width: 100%;
		height: 100%;
		.contact-Wrapper {
			width: 95%;
			flex-direction: row;
			// padding: 10px 50px;
			height: 100%;
			.c-Left {
				height: 70%;
				width: 50%;
				// overflow: auto;
				justify-content: space-evenly;

				.c-title {
					font-size: 3em;
					width: 100%;
					font-weight: 400;
					text-align: start;
				}
				.c-title.LgScreen {
					display: block;
					font-weight: 300;
				}
				.c-title.smScreen {
					display: none;
				}
				.c-info {
					margin: 1.5em 0;
					.c-info-item {
						display: flex;
						align-items: center;
						margin: 1em 0;
						font-weight: 300;
						width: 100%;
						font-size: 1em;
					}
				}
			}
			.c-Right {
				height: 100%;
				width: 50%;

				// overflow: auto;
				.c-right-wrapper {
					padding: 0;
					height: 90%;
					width: 100%;
					.c-desc.LgScreen {
						display: block;
						font-size: 300;
						.Q-title {
							display: block;
							text-align: center;
						}
					}
					.c-desc.SmScreen {
						display: none;
						font-size: 1.1em;
					}
					form {
						display: flex;
						flex-direction: column;
						width: 90%;
						align-items: center;
						flex-wrap: wrap;
						justify-content: space-evenly;
						height: 50%;
						// overflow: auto;
						margin-top: 0;
						input {
							width: 80%;
							height: 30px;
						}
						textarea {
							width: 80%;
							margin: 10px 0px;
							font-size: 14px;
							padding-left: 10px;
						}
						button {
							font-size: 1rem;
							border: none;
							padding: 8px;
							background-color: #59b256;
							color: white;
							font-weight: 500;
							cursor: pointer;
							margin: 0 auto;
							display: block;
							border-radius: 10%;
						}
					}
				}
			}
		}
	}
}
