.navbar {

	width: 100%;
	height: 3.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;


	//  Gradient settings start



	background: linear-gradient(45deg, #0e0768, #0d0856,
			#3d98ee,
			#0d0856,
			#0e0768);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 10s ease infinite;
	-moz-animation: AnimationName 10s ease infinite;
	-o-animation: AnimationName 10s ease infinite;
	animation: AnimationName 10s ease infinite;



	@-webkit-keyframes AnimationName {
		0% {
			background-position: 71% 0%
		}

		50% {
			background-position: 30% 100%
		}

		100% {
			background-position: 71% 0%
		}
	}

	@-moz-keyframes AnimationName {
		0% {
			background-position: 71% 0%
		}

		50% {
			background-position: 30% 100%
		}

		100% {
			background-position: 71% 0%
		}
	}

	@-o-keyframes AnimationName {
		0% {
			background-position: 71% 0%
		}

		50% {
			background-position: 30% 100%
		}

		100% {
			background-position: 71% 0%
		}
	}

	@keyframes AnimationName {
		0% {
			background-position: 71% 0%
		}

		50% {
			background-position: 30% 100%
		}

		100% {
			background-position: 71% 0%
		}
	}

	//  Gradient settings end

	.navbar-wrapper {
		width: 95%;
		padding: 0 0.625rem;
		display: flex;
		align-items: center;
		justify-content: center;

		.navbar-left {
			flex: 1;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			.nav-logo {
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: flex-start;
				font-size: 1.25rem;

				a {
					margin-right: 1.25rem;
					display: flex;
					align-items: center;
					text-decoration: none;

					transition: all 0.5s ease;

					.nav-logoTitle {
						font-size: 1.2rem;
						margin: 0px 10px;
						letter-spacing: 1px;;
					}
				}
			}
		}

		.navbar-center {
			flex: 3;
			display: flex;
			justify-content: center;
			align-items: center;

			.navbar-ul {
				// padding: 0;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-evenly;

				.navbar-li {
					text-decoration: none;
					cursor: pointer;
					// transition: all 0.5s ease;
					font-size: 2rem;
					display: flex;
					justify-content: center;
					align-items: center;
					


					.navbar-li-a {
						text-decoration: none;

						border-bottom: 2px solid transparent;
						transition: border-bottom 0.5s;

						font-size: 1rem;
						color: white;
						letter-spacing: 1px;;


					}

					.navbar-li-a:hover {
						border-color: rgb(236, 196, 121);
						color: white;
					}
				}
			}
		}

		.navbar-right {
			flex: 1;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}

@media screen and (min-width: 2000px) {
	.navbar {
		height: 5rem;

		.navbar-wrapper {
			.navbar-left {
				.nav-logo {
					font-size: clamp(3rem, 1rem + 1.2vw, 4.6rem);

					a {
						.nav-logoTitle {
						font-size: clamp(2rem, 0.1rem + 0.8vw, 3rem);

						}
					}
				}
			}

			.navbar-center{
				.navbar-ul{
					.navbar-li{
						.navbar-li-a{
							font-size: clamp(2rem, 0.1rem + 0.8vw, 3rem);
							
						}
					}
				}
			}

			.navbar-right{}

		}

	}


}

@media (min-width: 992px) and (max-width: 1199.98px){
	// No Need
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.navbar {
		height: 3rem;

		.navbar-wrapper {
			.navbar-left {
				.nav-logo {
					
					font-size: clamp(1rem, -0.7144rem + 3.5717vw, 1.5rem);
					

					a {
						.nav-logoTitle {
						font-size: clamp(1rem, 0.6571rem + 0.7143vw, 1.1rem);
						font-size: clamp(0.9rem, 0.2142rem + 1.4287vw, 1.1rem);
						}
					}
				}
			}

			.navbar-center{
				.navbar-ul{
					justify-content: space-around;
					.navbar-li{
						.navbar-li-a{
							
							font-size: clamp(1rem, 0.6571rem + 0.7143vw, 1.1rem);
							
						}
					}
				}
			}

			.navbar-right{}

		}

	}	
}


@media (min-width: 576px) and (max-width: 767.98) 

  {
	.navbar {
		height: 3rem;

		.navbar-wrapper {
			.navbar-left {
				.nav-logo {
					font-size: clamp(1.5rem, -0.0002rem + 4.1671vw, 2rem);

					a {
						.nav-logoTitle {
						
						font-size: clamp(0.8rem, 0.5rem + 0.8334vw, 0.9rem);
						
						margin:0;
						
						
						}
					}
				}
			}

			.navbar-center{
				flex:2.5;
				.navbar-ul{
					justify-content: space-around;
					.navbar-li{
						.navbar-li-a{
							
							font-size: clamp(1rem, 0.6571rem + 0.7143vw, 1.1rem);
							font-size: clamp(0.9rem, 0.6rem + 0.8334vw, 1rem);
							
						}
					}
				}
			}

			.navbar-right{}

		}

	}	
}


//!	max-width:767.98px
 
@media (max-width: 767.98px)
 {
	.navbar {
		height: 3rem;

		.navbar-wrapper {
			.navbar-left {
				display:none;
				.nav-logo {
					font-size: clamp(1.5rem, -0.0002rem + 4.1671vw, 2rem);

					a {
						.nav-logoTitle {
						
						font-size: clamp(0.8rem, 0.5rem + 0.8334vw, 0.9rem);
						
						margin:0;
						display:none;
						
						
						}
					}
				}
			}

			.navbar-center{
				flex:2.5;
				.navbar-ul{
					padding-left:0px;
					justify-content:space-around;
					.navbar-li{
						.navbar-li-a{
							font-size: clamp(0.9rem, 0.6rem + 0.8334vw, 1rem);
							
						}
					}
				}
			}

			.navbar-right{
				display:none;
			}

		}

	}	
}
