.Intro {
	margin: 0rem;
	// padding: 2rem;
	display: flex;
	position: relative;
	// width: 98%;
	margin-inline: auto;
	height: calc(100vh - 3.75rem);
	height: calc(100svh - 3.75rem);

	.intro-bground {
		clip-path: polygon(72% 0, 100% 0, 100% 100%, 33% 100%);
		//  Gradient settings start
		background: linear-gradient(
			45deg,
			#0e0768,
			#0d0856,
			#3d98ee,
			#0d0856,
			#0e0768
		);
		background-size: 600% 600%;

		-webkit-animation: AnimationName 10s ease infinite;
		-moz-animation: AnimationName 10s ease infinite;
		-o-animation: AnimationName 10s ease infinite;
		animation: AnimationName 10s ease infinite;

		@-webkit-keyframes AnimationName {
			0% {
				background-position: 71% 0%;
			}

			50% {
				background-position: 30% 100%;
			}

			100% {
				background-position: 71% 0%;
			}
		}

		@-moz-keyframes AnimationName {
			0% {
				background-position: 71% 0%;
			}

			50% {
				background-position: 30% 100%;
			}

			100% {
				background-position: 71% 0%;
			}
		}

		@-o-keyframes AnimationName {
			0% {
				background-position: 71% 0%;
			}

			50% {
				background-position: 30% 100%;
			}

			100% {
				background-position: 71% 0%;
			}
		}

		@keyframes AnimationName {
			0% {
				background-position: 71% 0%;
			}

			50% {
				background-position: 30% 100%;
			}

			100% {
				background-position: 71% 0%;
			}
		}

		//  Gradient settings end
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0rem;
		right: 0rem;
	}

	.intro-wrapper {
		width: 100%;
		display: flex;
		padding: 2rem;

		.intro-left {
			flex: 1;
			display: flex;
			// flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			height: 100%;

			.intro-Left-Wrapper {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				background-color: transparent;

				.i-intro {
					.salutation_1 {
						font-weight: 300;
						font-size: clamp(1rem, -1.0861rem + 7.947vw, 4.5rem);
						display: flex;
						align-items: center;
						justify-content: center;
					}

					.salutation_2 {
						font-weight: 300;
						font-size: clamp(1rem, -1.0861rem + 7.947vw, 4.5rem);
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}

				.i-work {
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;

					.i-name {
						font-weight: 300;
						font-size: 1.4rem;
						margin-right: 0.8rem;
					}

					.i-title {
						height: 2rem;
						overflow: hidden;

						.i-title-Wrapper {
							/* This Wrapper has just been used for adding Animation effect*/
							overflow: visible;
							height: 100%;
							animation: move 10s ease-in-out infinite alternate;

							@keyframes move {
								33.333% {
									transform: translateY(-2.125rem);
								}

								66.6666% {
									transform: translateY(-4.25rem);
								}

								100% {
									transform: translateY(-6.375rem);
								}
							}

							/* Since we have 4 elements in 'i-title-Item' which'll be animated, Leaving the 1st one intact, we are bifurcating the rest in 4 parts in terms of percentage*/

							.i-title-Item {
								height: 2.125rem;
								font-size: 1.4rem;
								font-weight: 500;
								color: rgb(49, 49, 145);
								display: flex;
								align-items: center;
								text-align: center;
								justify-content: flex-start;
							}
						}
					}
				}

				.intro-desc {
					text-align: center;
					font-weight: 300;
					font-size: 1.3rem;
					font-size: clamp(0.8rem, 0.5219rem + 1.0596vw, 1.2rem);
				}

				.intro-ul {
					padding: 0;
					list-style-type: none;

					li {
						font-size: 1.2rem;
						font-size: clamp(0.8rem, 0.5219rem + 1.0596vw, 1.2rem);

						margin: 0.5rem 0;
						font-weight: 300;
						display: flex;
						justify-content: start;
						align-items: center;

						.boldHeader {
							font-weight: 500;
							font-size: clamp(1rem, 0.9215rem + 0.2991vw, 1.1rem);
							margin-right: 1rem;
						}
					}
				}

				.downArrow {
					font-size: clamp(1rem, 0.3046rem + 2.649vw, 2rem);
					font-weight: light;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		.intro-right {
			flex: 1;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.intro-img {
				max-width: 80%;
				// height: 100%;
				height: auto;
				object-fit: contain;
				position: absolute;
				bottom: 0px;
				z-index: 1;
			}
		}
	}
}
@media screen and (min-width: 2000px) {
	.Intro {
		height: calc(100vh - 5rem);
		height: calc(100svh - 5rem);
		.intro-wrapper {
			
			.intro-left {
				.intro-Left-Wrapper {
					align-items: normal;
					.i-intro {
						.salutation_1,
						.salutation_2 {
							
							font-size: clamp(7rem, 6rem + 0.8vw, 8rem);
						}
					}
					.i-work {
						.i-name {
							font-size: 4rem;
							margin-right:1rem;
						}
						.i-title{
							
							height: 5rem;

							.i-title-Wrapper{

								@keyframes move {
								33.333% {
									
									
									transform: translateY(-5rem);


								}

								66.6666% {
									
									transform: translateY(-10rem);
								}

								100% {
									transform: translateY(-15rem);
								}
							}
								.i-title-Item {
									height: 4.5rem;
									height: 5rem;
									font-size: clamp(3rem, 2rem + 0.8vw, 4rem);
									font-size: 3rem;	
									font-weight: normal;
								}
							}
						}


					}

					.intro-desc{
						font-size: clamp(2rem, 0.5rem + 1.2vw, 3.5rem);
					}
					.intro-ul{
						
						// padding-right:2rem;
						display: flex;
						justify-content: center;align-items: start;
						flex-direction: column;

						li{
							font-size: clamp(2rem, 0.5rem + 1.2vw, 3.5rem); 
							margin:1rem;	
							margin-left:0;
							.boldHeader {
								font-size: clamp(1.8rem, 0.1rem + 1.36vw, 3.5rem);
							}
						}
					}

					.downArrow{
						font-size: clamp(3rem, -0.3333rem + 2.1333vw, 5rem);
					}

				}
			}

			.intro-right{
				.intro-img{
					max-width: 100%;
					width:100%;
					bottom:unset;
				}
			}
		}
	}
}
