.Intro {
	margin: 0rem;
	// padding: 2rem;
	display: flex;
	position: relative;
	// width: 98%;
	margin-inline: auto;
	height: calc(100vh - 3.75rem);
	height: calc(100svh - 3.75rem);

	.intro-bground {
		clip-path: polygon(72% 0, 100% 0, 100% 100%, 33% 100%);
		//  Gradient settings start
		background: linear-gradient(
			45deg,
			#0e0768,
			#0d0856,
			#3d98ee,
			#0d0856,
			#0e0768
		);
		background-size: 600% 600%;

		-webkit-animation: AnimationName 10s ease infinite;
		-moz-animation: AnimationName 10s ease infinite;
		-o-animation: AnimationName 10s ease infinite;
		animation: AnimationName 10s ease infinite;

		@-webkit-keyframes AnimationName {
			0% {
				background-position: 71% 0%;
			}

			50% {
				background-position: 30% 100%;
			}

			100% {
				background-position: 71% 0%;
			}
		}

		@-moz-keyframes AnimationName {
			0% {
				background-position: 71% 0%;
			}

			50% {
				background-position: 30% 100%;
			}

			100% {
				background-position: 71% 0%;
			}
		}

		@-o-keyframes AnimationName {
			0% {
				background-position: 71% 0%;
			}

			50% {
				background-position: 30% 100%;
			}

			100% {
				background-position: 71% 0%;
			}
		}

		@keyframes AnimationName {
			0% {
				background-position: 71% 0%;
			}

			50% {
				background-position: 30% 100%;
			}

			100% {
				background-position: 71% 0%;
			}
		}

		//  Gradient settings end
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0rem;
		right: 0rem;
	}

	.intro-wrapper {
		width: 100%;
		display: flex;
		padding: 2rem;

		.intro-left {
			flex: 1;
			display: flex;
			// flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			height: 100%;

			.intro-Left-Wrapper {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				background-color: transparent;

				.i-intro {
					.salutation_1 {
						font-weight: 300;
						font-size: clamp(1rem, -1.0861rem + 7.947vw, 4.5rem);
						display: flex;
						align-items: center;
						justify-content: center;
						letter-spacing: 1px;;
						flex-wrap: wrap;
						text-align: center;
					}

					.salutation_2 {
						font-weight: 300;
						font-size: clamp(1rem, -1.0861rem + 7.947vw, 4.5rem);
						display: flex;
						align-items: center;
						justify-content: center;
						letter-spacing: 1px;;
					}
				}

				.Title-desc{
					width: 90%;
					font-weight: 400;
					text-align:center;

					font-size: clamp(1rem, -0.2rem + 1.6vw, 1.5rem);
					font-size: clamp(0.8rem, -0.88rem + 2.24vw, 1.5rem);
					font-size: clamp(0.9rem, -0.54rem + 1.92vw, 1.5rem);
					font-size: clamp(0.9rem, 0rem + 1.2vw, 1.5rem);
					letter-spacing: 1px;;
				}

				.i-work {
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;

					.i-name {
						font-weight: 300;
						font-size: 1.4rem;
						margin-right: 0.8rem;
						letter-spacing: 1px;
						
					}

					.i-title {
						height: 2rem;
						overflow: hidden;

						.i-title-Wrapper {
							/* This Wrapper has just been used for adding Animation effect*/
							overflow: visible;
							height: 100%;
							animation: move 10s ease-in-out infinite alternate;

							@keyframes move {
								33.333% {
									transform: translateY(-2.125rem);
								}

								66.6666% {
									transform: translateY(-4.25rem);
								}

								100% {
									transform: translateY(-6.375rem);
								}
							}

							/* Since we have 4 elements in 'i-title-Item' which'll be animated, Leaving the 1st one intact, we are bifurcating the rest in 4 parts in terms of percentage*/

							.i-title-Item {
								height: 2.125rem;
								font-size: 1.4rem;
								font-weight: 500;
								color: rgb(49, 49, 145);
								display: flex;
								align-items: center;
								text-align: center;
								justify-content: flex-start;
								letter-spacing: 1px;;
							}
						}
					}
				}

				.intro-desc {
					text-align: center;
					// font-weight: 400;
					// font-size: 1.3rem;
					// font-size: clamp(0.8rem, 0.5219rem + 1.0596vw, 1.2rem);
					// letter-spacing: 1px;;
					width: 90%;
					font-weight: 400;
					text-align:center;
					font-size: clamp(0.8rem, 0.5219rem + 1.0596vw, 1.2rem);
					font-size: clamp(1rem, -0.2rem + 1.6vw, 1.5rem);
					font-size: clamp(0.9rem, 0rem + 1.2vw, 1.5rem);
					letter-spacing: 1px;;

				}

				.intro-ul {
					width: 80%;
					
					padding: 0;
					list-style-type: none;
					// display: flex;
					// flex-direction: column;
					// justify-content:center;
					// align-items: flex-start;
					// align-items: flex-start;
					
					

					li {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						margin: 0.5rem 0;
					
						
	

						.boldHeader {
							font-weight: 400;
							font-size: clamp(1rem, 0.9215rem + 0.2991vw, 1.1rem);
							// margin-right: 1rem;
							color:rgb(84, 81, 81);
							// width:25%;
							font-size: clamp(1rem, -0.2rem + 1.6vw, 1.5rem);
							font-size: clamp(0.9rem, 0rem + 1.2vw, 1.5rem);
							flex:1;
							display: flex;
							justify-content:center;
							
							align-items: center;
							
						}
							.normalDesc{
							flex:3;
							// margin: 0.5rem 0;
							font-weight: 300;
							display: flex;
							justify-content:flex-start;
							align-items: center;
							letter-spacing: 0.5px;
							font-weight: 400;
							font-size: clamp(0.9rem, 0rem + 1.2vw, 1.5rem);
						// font-size: clamp(0.9rem, 0rem + 1.2vw, 1.5rem);
						}
					}
				}

				.downArrow {
					font-size: clamp(1rem, 0.3046rem + 2.649vw, 2rem);
					font-weight: light;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		.intro-right {
			flex: 1;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.intro-img {
				max-width: 80%;
				// height: 100%;
				height: auto;
				object-fit: contain;
				position: absolute;
				bottom: 0px;
				z-index: 1;
			}
		}
	}
}

//! min-width: 2000px
@media screen and (min-width: 2000px) {
	.Intro {
		height: calc(100vh - 5rem);
		height: calc(100svh - 5rem);
	
		.intro-wrapper {
			
			.intro-left {
				.intro-Left-Wrapper {
					
					align-items: center;
					.i-intro {
						.salutation_1,
						.salutation_2 {
							
							font-size: clamp(7rem, 6rem + 0.8vw, 8rem);
						}
					}
					.i-work {
						.i-name {
							font-size: 4rem;
							font-size: clamp(2rem, 0.5rem + 1.2vw, 3.5rem);
							margin-right:1rem;
						}
						.i-title{
							
							height: 5rem;

							.i-title-Wrapper{

								@keyframes move {
								33.333% {
									
									
									transform: translateY(-5rem);


								}

								66.6666% {
									
									transform: translateY(-10rem);
								}

								100% {
									transform: translateY(-15rem);
								}
							}
								.i-title-Item {
									height: 4.5rem;
									height: 5rem;
									font-size: clamp(3rem, 2rem + 0.8vw, 4rem);
									font-size: 3rem;	
									font-size: 2.5rem;	;
									font-weight: normal;
								}
							}
						}


					}

					.Title-desc{
						font-size: clamp(2rem, 0.5rem + 1.2vw, 3.5rem);
					}

					.intro-desc{
						font-size: clamp(2rem, 0.5rem + 1.2vw, 3.5rem);
					}
					.intro-ul{
						
						// padding-right:2rem;
						// display: flex;
						// justify-content: center;align-items: start;
						// flex-direction: column;

						li{
							font-size: clamp(2rem, 0.5rem + 1.2vw, 3.5rem); 
							margin:1rem;	
							margin-left:0;
							.boldHeader {
								font-size: clamp(1.8rem, 0.1rem + 1.36vw, 3.5rem);
							}
						}
					}

					.downArrow{
						font-size: clamp(3rem, -0.3333rem + 2.1333vw, 5rem);
					}

				}
			}

			.intro-right{
				.intro-img{
					max-width: 100%;
					width:100%;
					bottom:unset;
				}
			}
		}
	}
}
//! min-width:1200px and max-width:1439.98px - NOT NEEDED - Section already rendering correctly

//! min-width: 992px AND max-width 1199.98px
@media (min-width: 992px) and (max-width: 1199.98px) {
		.Intro {
		height: calc(100vh - 3.75rem);
		height: calc(100svh - 3.75rem);
		.intro-wrapper {
			
			.intro-left {
				.intro-Left-Wrapper {
					
					align-items:center;
					
					.i-intro {
						.salutation_1,
						.salutation_2 {
							
							font-size: clamp(3rem, -4.1545rem + 11.5396vw, 4.5rem);
						}
					}
					.i-work {
						.i-name {
							font-size: 1.4rem;
							margin-right: 0.8rem;
						}
						.i-title{
							
							height: 2rem;

							.i-title-Wrapper{

								@keyframes move {
								33.333% {
									transform: translateY(-2.125rem);
								}

								66.6666% {
									transform: translateY(-4.25rem);
								}

								100% {
									transform: translateY(-6.375rem);
								}
							}
							.i-title-Item {
								height: 2.125rem;
								font-size: 1.4rem;
								font-weight: 500;
								
							}
							}
							
							}
						}


					.Title-desc{
						font-size: clamp(0.8rem, 0.5219rem + 1.0596vw, 1.2rem);
						font-size: clamp(0.8rem, -0.1539rem + 1.5386vw, 1rem);
					}

					.intro-desc{
					font-size: clamp(0.8rem, 0.5219rem + 1.0596vw, 1.2rem);
					font-size: clamp(0.8rem, -0.1539rem + 1.5386vw, 1rem);
					}
					.intro-ul{
						
						// padding-right:2rem;
						// display: flex;
						// justify-content: center;align-items: start;
						// flex-direction: column;

						li{
						

							margin: 0.5rem 0;

							font-size: clamp(0.8rem, -0.1539rem + 1.5386vw, 1rem);
							
								
							// margin-left:0;
							.boldHeader {
								
								font-size: clamp(0.8rem, -0.1539rem + 1.5386vw, 1rem);
								
							}
						}
						// li:first-child{
						// 	// flex-wrap: wrap;
						// }
						
					}

					.downArrow{
						font-size: clamp(1rem, 0.3046rem + 2.649vw, 2rem);
							font-size: clamp(0.8rem, -0.1539rem + 1.5386vw, 1rem);
							font-size: clamp(1rem, 0.523rem + 0.7693vw, 1.1rem);
							font-size: clamp(1rem, 0.0461rem + 1.5386vw, 1.2rem);
					}

				}
			}

			.intro-right{
				.intro-img{
					// max-width: 100%;
					max-width: 90%;
					// width: 90%;;
					width:100%;
					bottom:unset;
					

				}
			}
		}
	}
}

// !min-width:768px AND max-width:991.98px

@media (min-width: 768px) and (max-width: 991.98px)
{

		.Intro {
		height: calc(100vh - 3rem);
		height: calc(100svh - 3rem);
		
			.intro-bground{
			// display:none;
			opacity:0.2
		
		
		}
		.intro-wrapper {
			padding:1rem;
			position:relative;
			.intro-left {
				.intro-Left-Wrapper {
					align-items: center;
					justify-content: space-around;
					.i-intro {
						.salutation_1,
						.salutation_2 {
							
							
							// font-size: clamp(4rem, 2.2856rem + 3.5717vw, 4.5rem);
							font-size: clamp(4.5rem, 2.7856rem + 3.5717vw, 5rem);
						}
					}
					.i-work {
						.i-name {
							font-size: 1.4rem;
							font-size: 2rem;;
							font-size: clamp(1.5rem, 1.1571rem + 0.7143vw, 1.6rem);
							margin-right: 0.8rem;
						}
						.i-title{
							
							height: 2.7rem;

							.i-title-Wrapper{

								@keyframes move {
								33.333% {
									transform: translateY(-3rem);
									transform: translateY(-3rem);
								}

								66.6666% {
									transform: translateY(-9rem);
									transform: translateY(-6rem);
								}

								100% {
									transform: translateY(-6.375rem);
									transform: translateY(-9rem);
								}
							}
							.i-title-Item {
								height: 2.125rem;
								height: 3rem;
								font-size: 1.4rem;
								font-size: 2rem;
								font-weight: 500;
								
							}
							}
							
							}
						}


					.Title-desc{
						
						font-size: clamp(1.5rem, 1.1571rem + 0.7143vw, 1.6rem);
							font-size: clamp(1.2rem, 0.1713rem + 2.143vw, 1.5rem);
					}

					.intro-desc{
					
					
					font-size: clamp(1.5rem, 1.1571rem + 0.7143vw, 1.6rem);
					}
					.intro-ul{
						// just
						// padding-right:2rem;
						// display: flex;
						// justify-content: center;
						// align-items: center;
						// flex-direction: column;
						// // width: 80%;


						li {

							.boldHeader {

								font-size: clamp(1rem, 0.6571rem + 0.7143vw, 1.1rem);
								font-size: clamp(1.5rem, -0.2144rem + 3.5717vw, 2rem);
								font-size: clamp(1.2rem, 0.1713rem + 2.143vw, 1.5rem);

							}

							.normalDesc {
								font-size: clamp(1.5rem, 0.4713rem + 2.143vw, 1.8rem);
								font-weight: 500;
								font-size: clamp(1.5rem, 1.1571rem + 0.7143vw, 1.6rem);
								font-size: clamp(1.2rem, 0.1713rem + 2.143vw, 1.5rem);

								// margin-left:0;
							}



						}
						// li:first-child{
						// 	flex-wrap: wrap;
						// 	justify-content: center;
						// 	text-align: center;
						// }
						// li:last-child{
						// 	flex-wrap: wrap;
						// 	justify-content: center;
						// 	text-align: center;
						// }
					}

					.downArrow{
						
						font-size: clamp(1.8rem, 0.0856rem + 3.5717vw, 2.3rem);
						
							
					}

				}
			}

			.intro-right{
				
				align-items: start;
				position:absolute;
				inset: 5rem 1rem 2rem 1rem;
				
				
				

				.intro-img{
					
					max-width: 100%;
					width:100%;
					object-fit:cover;
					  opacity: 0.25;
					
					
					
					
				}
			}
		}
	}
}



 // !min-width:370px AND max-width:767.98px
@media (min-width:370px) and (max-width: 767.98px)
{

		.Intro {
		height: calc(100vh - 3rem);
		height: calc(100svh - 3rem);
		
			.intro-bground{
			// display:none;
			opacity:0.2
		
		
		}
		.intro-wrapper {
			padding:1rem;
			position:relative;
			.intro-left {
				.intro-Left-Wrapper {
					position:relative;
					align-items: normal;
					align-items: center;
					justify-content:flex-start;
					justify-content: space-around;
					justify-content: space-evenly;
					.i-intro {
						.salutation_1,
						.salutation_2 {
							font-size: clamp(2.5rem, 2.1479rem + 2.817vw, 3.5rem);
						}
					}
					.i-work {
						margin:1rem 0;
						.i-name {
							font-size: 1.2rem;
							font-size: 1.2rem;;
							margin-right: 0.8rem;

						}
						.i-title{
							
							height: 3rem;

							.i-title-Wrapper{
								height: 3rem;

								@keyframes move {
								33.333% {
									transform: translateY(-3rem);
									transform: translateY(-3rem);
									transform: translateY(-3rem);
								}

								66.6666% {
									transform: translateY(-9rem);
									transform: translateY(-6rem);
								}

								100% {
									transform: translateY(-6.375rem);
									transform: translateY(-9rem);
								}
							}
							.i-title-Item {
								
								height: 3rem;
								font-size: 1.4rem;
								font-size: 1.3rem;
								font-weight: 500;
								
							}
							}
							
							}
						}


					.Title-desc{
						font-size: clamp(0.7rem, 0.5591rem + 1.1268vw, 1.1rem);
					}

					.intro-desc{

					font-size: clamp(0.7rem, 0.5591rem + 1.1268vw, 1.1rem);
					font-size: clamp(0.7rem, 0.5591rem + 1.1268vw, 1.1rem);
					
					}
					.intro-ul{
						
						// display: flex;
						// justify-content: center;
						// align-items:flex-start;
						// flex-direction: column;
						// width: 80%;
						// flex-wrap:wrap;


						li{
							
							width: 100%;
							// display: flex;
							// justify-content: space-evenly;
							// align-items: center;

							.boldHeader {
								font-weight: 300;
								color:rgb(48, 45, 45);
									font-size: clamp(0.8rem, 0.6591rem + 1.1268vw, 1.2rem);
									font-size: clamp(0.6rem, 0.4591rem + 1.1268vw, 1rem);
									overflow: hidden;
									// white-space: nowrap;
									flex:1;
									margin-right:0.5rem;
						
							}
							.normalDesc{
								font-size: clamp(0.8rem, 0.6591rem + 1.1268vw, 1.2rem);
								font-weight: 400;
								
							// flex-wrap:wrap;
								flex:3;
								font-size: clamp(0.7rem, 0.5591rem + 1.1268vw, 1.1rem);
								display: flex;justify-content: flex-start;align-items: center;
							}
						
						
						
						}
						
					
					}

					.downArrow{
						
						font-size: clamp(1.8rem, 0.0856rem + 3.5717vw, 2.3rem);
						// position:absolute;
						// inset:auto 1rem 0.1rem;
						
						
						
							
					}

				}
			}

			.intro-right
			{
				
				align-items: start;
				position:absolute;
				inset: 1rem 1rem;
				
				
				color:black;
			align-items: start;
				position:absolute;
				inset: 5rem 1rem 2rem 1rem;
				

				.intro-img{
					
					max-width: 100%;
					width:100%;
					object-fit:cover;
			max-width: 100%;
					width:100%;
					object-fit:cover;
					  opacity: 0.25;
			// 		//   opacity: 0.8;
											
					
					
					
				}
			}
				
				
				
				
				

				
		}
	}


	 
}


// !min-width:321px AND max-width:369.98px
@media(min-width:321px) and (max-width:369.98px)
{

		.Intro {
		height: calc(100vh - 3rem);
		height: calc(100svh - 3rem);
		
			.intro-bground{
			// display:none;
			opacity:0.2;
		
		
		}
		.intro-wrapper {
			padding:1rem;
			position:relative;
			.intro-left {
				.intro-Left-Wrapper {
					position:relative;
					justify-content: space-evenly;
					.i-intro {
						.salutation_1,
						.salutation_2 {
							font-size: clamp(2.5rem, 2.1479rem + 2.817vw, 3.5rem);
							
						}
					}
					.Title-desc{
						font-size: clamp(0.7rem, 0.5591rem + 1.1268vw, 1.1rem);
					}
					.i-work {
						margin:1rem 0;
						.i-name {
							font-size: 1.2rem;
							font-size: 1.2rem;;
							font-size: 1rem;;
							margin-right: 0.8rem;

						}
						.i-title{
							
							height: 2.5rem;

							.i-title-Wrapper{
								// height: 3rem;

								@keyframes move {
								33.333% {
									transform: translateY(-3rem);
									transform: translateY(-3rem);
									transform: translateY(-2.5rem);
								}

								66.6666% {
									transform: translateY(-9rem);
									transform: translateY(-5rem);
								}

								100% {
									transform: translateY(-6.375rem);
									transform: translateY(-7.5rem);
								}
							}
							.i-title-Item {
								
								height: 2.5rem;
								font-size: 1.2rem;
								font-weight: 400;
								
							}
							}
							
							}
						}


					


					.intro-desc{

					font-size: clamp(0.7rem, 0.5591rem + 1.1268vw, 1.1rem);
					
					}
					.intro-ul{
						width: 90%;
						// display: flex;
						// justify-content: center;
						// align-items:flex-start;
						// flex-direction: column;
						// // width: 80%;
						// flex-wrap:wrap;


						li{
							width: 100%;
					
						.boldHeader {
							font-weight: 300;
							color:rgb(48, 45, 45);
							font-size: clamp(0.8rem, 0.6591rem + 1.1268vw, 1.2rem);
							font-size: clamp(0.6rem, 0.4591rem + 1.1268vw, 1rem);
							overflow: hidden;
							// white-space: nowrap;
							margin-right:0.2rem;
							}
						.normalDesc{
						font-size: clamp(0.8rem, 0.6591rem + 1.1268vw, 1.2rem);
						font-weight: 400;
						margin:0.3rem 0;
						font-size: clamp(0.7rem, 0.5591rem + 1.1268vw, 1.1rem);
						font-size: clamp(0.6rem, 0.4591rem + 1.1268vw, 1rem);
						// flex-wrap:wrap;	
						}
					}
					}

					.downArrow{
						
						font-size: clamp(1.8rem, 0.0856rem + 3.5717vw, 2.3rem);
						// position:absolute;
						// inset:auto 1rem 0.1rem;
						
						
						
							
					}

				}
			}

			.intro-right
			{
				// display:none;
				align-items: start;
				position:absolute;
				inset: 1rem 1rem;
				
				
				color:black;
			align-items: start;
				position:absolute;
				inset: 5rem 1rem 2rem 1rem;
				

				.intro-img{
					
					max-width: 100%;
					width:100%;
					object-fit:cover;
			max-width: 100%;
					width:100%;
					object-fit:cover;
					  opacity: 0.25;
			// 		//   opacity: 0.8;
											
					
					
					
				}
			}
				
				
				
				
				

				
		}
	}


	 
}

// !Max width 320.98px
@media screen and (max-width: 320.98px)

{

		.Intro {
		height: calc(100vh - 2rem);
		height: calc(100svh - 2rem);
		
			.intro-bground{
			// display:none;
			opacity:0.2
		
		
		}
		.intro-wrapper {
			padding:1rem;
			position:relative;
			.intro-left {
				.intro-Left-Wrapper {
					position:relative;
					
					justify-content:flex-start;
					justify-content: space-around;
					justify-content: space-evenly;

					.i-intro {
						.salutation_1,
						.salutation_2 {
							font-size: clamp(1.5rem, 1.5rem + 0.9969vw, 1.7rem);
							font-size: clamp(1.6rem, 1.6rem + 1.4954vw, 1.9rem);
						}
					}

					.small-Screen{
						display: none;;
					}
					.i-work {
						margin:1rem 0;
						.i-name {
							font-size: 0.9rem;
							margin-right: 0.5rem;

						}
						.i-title{
							
							height: 2rem;

							.i-title-Wrapper{
								// height: 3rem;

								@keyframes move {
								33.333% {
									transform: translateY(-3rem);
									transform: translateY(-3rem);
									transform: translateY(-2rem);
								}

								66.6666% {
									transform: translateY(-9rem);
									transform: translateY(-4rem);
								}

								100% {
									transform: translateY(-6.375rem);
									transform: translateY(-6rem);
								}
							}
							.i-title-Item {
								
								height: 2rem;
								font-size: 1rem;
								font-weight: 400;
								
							}
							}
							
							}
						}


					.Title-desc{
					font-size: clamp(0.7rem, 0.5591rem + 1.1268vw, 1.1rem);	
					}

					.intro-desc{
					font-size: clamp(0.7rem, 0.5591rem + 1.1268vw, 1.1rem);
					
					}
					.intro-ul{
						
						// display: flex;
						// justify-content: center;
						// align-items:flex-start;
						// flex-direction: column;
						// // width: 80%;
						// flex-wrap:wrap;


						li{
						width: 100%;
						display: flex;
						justify-content: center;align-items: center;
						
						
							.boldHeader {
								font-weight: 400;
								color:rgb(48, 45, 45);
									font-size: clamp(0.8rem, 0.6591rem + 1.1268vw, 1.2rem);
									font-size: clamp(0.6rem, 0.4591rem + 1.1268vw, 1rem);
									// overflow: hidden;
									// white-space: nowrap;
									display: flex;justify-content: center;align-items: center;
									flex:1;
									margin-right:0.5rem;
									
						
							}

						.normalDesc{
							flex:2;
							font-size: clamp(0.5rem, 0.5rem + 1.4954vw, 0.8rem);
							font-weight: 400;
							margin:0.3rem 0;
							// flex-wrap:wrap;
							font-size: clamp(0.5rem, 0.5rem + 1.4954vw, 0.8rem);
							font-size: clamp(0.4rem, 0.4rem + 1.9939vw, 0.8rem);
							font-size: clamp(0.4rem, 0.4rem + 1.4954vw, 0.7rem);
							font-size: clamp(0.6rem, 0.4591rem + 1.1268vw, 1rem);
							display: flex;
							align-items: center;justify-content: start;
						}
						}
						
					}

					.downArrow{
						font-size: clamp(1rem, 1rem + 0.9969vw, 1.2rem);
						font-size: clamp(0.9rem, 0.9rem + 0.9969vw, 1.1rem);
						// position:absolute;
						// inset:auto 1rem 0.1rem;
						
						
						
							
					}

				}
			}

			.intro-right
			{
				
				align-items: start;
				position:absolute;
				inset: 1rem 1rem;
				
				
				color:black;
			align-items: start;
				position:absolute;
				inset: 5rem 1rem 2rem 1rem;
				

				.intro-img{
					
					max-width: 100%;
					width:100%;
					object-fit:cover;
			max-width: 100%;
					width:100%;
					object-fit:cover;
					  opacity: 0.25;
			// 		//   opacity: 0.8;
											
					
					
					
				}
			}
				
				
				
				
				

				
		}
	}


	 
}
