.footer {
	background-color: transparent;
	/* width: 100vw; */
	color: gray;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 0 4rem; */
}

.footerText {
	/* padding: 1rem; */
	font-size: clamp(0.8rem, -1.0861rem + 7.947vw, 1rem);
}
