.testimonials {
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

	// @include mobile {
	// 	justify-content: space-around;
	// }

	.contact-bg {
		clip-path: polygon(69% 0, 100% 0, 100% 100%, 69% 100%);
		background-color: #ffd6a5;
		width: 100vw;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
	}

	.testimonials-wrapper {
		width: 90vw;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: space-evenly;
		justify-content: space-evenly;
		z-index: 1;

		.testimonials-Title {
			font-size: 3.5em;
			font-weight: 400;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.testimonials-container {
			width: 100%;
			height: 70%;
			position: relative;
			display: flex;
			flex-wrap: nowrap;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;

			.card {
				width: 80%;
				max-width: 500px;
				margin: 0 10px;
				height: 80%;
				border-radius: 10px;
				box-shadow: 0px 0px 15px -8px black;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				padding: 20px;
				transition: all 1s ease;
				flex: 0 0 auto;

				// &.featured {

				// 	// @include mobile {
				// 	// 	width: 250px;
				// 	// 	height: 180px;
				// 	// 	margin: 1px;
				// 	// }
				// }

				&:hover {
					transform: scale(1.05);
				}

				.top {
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						&.left,
						&.right {
							height: 25px;
						}
						&.user {
							width: 60px;
							height: 60px;
							border-radius: 50%;
							object-fit: cover;
							margin: 0 30px;

							// 	@include mobile {
							// 		width: 40px;
							// 		height: 40px;
							// 	}
							// }
						}
					}
				}

				.center {
					padding: 10px;
					border-radius: 10px;
					background-color: rgb(235, 225, 227);

					// @include mobile {
					// 	font-size: 12px;
					// 	padding: 5px;
					// }
				}

				.bottom {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					.bottom-userName {
						font-weight: 400;
						font-size: 16px;
						margin-bottom: 5px;
						// @include mobile {
						// 	font-size: 14px;
						// }
					}
					.bottom-userTitle {
						font-weight: 400;
						color: grey;
						// @include mobile {
						// 	font-size: 13px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 320px) {
	.testimonials {
		font-size: 14px;
		width: 100%;
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;

		.contact-bg {
			clip-path: polygon(69% 0, 100% 0, 100% 100%, 69% 100%);
			background-color: #ffd6a5;
			width: 100vw;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
		}

		.testimonials-wrapper {
			width: 90vw;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: space-evenly;
			justify-content: space-evenly;
			z-index: 1;

			.testimonials-Title {
				font-size: 3em;
				font-weight: 400;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.testimonials-container {
				width: 100%;
				height: 70%;
				position: relative;
				display: flex;
				flex-wrap: nowrap;
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;

				.card {
					width: 80%;
					max-width: 500px;
					margin: 0 10px;
					height: 80%;
					border-radius: 10px;
					box-shadow: 0px 0px 15px -8px black;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					padding: 20px;
					transition: all 1s ease;
					flex: 0 0 auto;

					&:hover {
						transform: scale(1.05);
					}

					.top {
						display: flex;
						justify-content: center;
						align-items: center;

						img {
							&.left,
							&.right {
								height: 25px;
							}
							&.user {
								width: 60px;
								height: 60px;
								border-radius: 50%;
								object-fit: cover;
								margin: 0 30px;
							}
						}
					}

					.center {
						padding: 10px;
						border-radius: 10px;
						background-color: rgb(235, 225, 227);
					}

					.bottom {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;

						.bottom-userName {
							font-weight: 400;
							font-size: 16px;
							margin-bottom: 5px;
							// @include mobile {
							// 	font-size: 14px;
							// }
						}
						.bottom-userTitle {
							font-weight: 400;
							color: grey;
							// @include mobile {
							// 	font-size: 13px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 480px) {
	.testimonials {
		font-size: 12px;

		.testimonials-wrapper {
			.testimonials-container {
				height: 80%;
				.card {
					padding: 10px;
					width: 70%;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.testimonials {
		font-size: 14px;
		.testimonials-wrapper {
			.testimonials-container {
				flex-wrap: wrap;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 70%;
				position: relative;
				display: flex;
				// flex-wrap: nowrap;
				// overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				.card {
					padding: 10px;
					margin: 10px;
					width: 40%;
					height: auto;
				}
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.testimonials {
		font-size: 16px;
		.testimonials-wrapper {
			.testimonials-container {
				width: 100%;
				height: 80%;
				flex-wrap: nowrap;
				display: flex;
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				justify-content: initial;
				align-items: initial;

				.card {
					padding: 20px;
					margin: 20px;
					width: 25%;
					height: 75%;
					flex: 0 0 auto;
				}
			}
		}
	}
}
