.toggle {
	width: 3.125rem;
	height: 1.563rem;
	border-radius: 1.25rem;
	border: 1px solid rgb(97, 92, 92);
	background-color: black;
	// position: fixed;
	// top: 10px;
	// right: 10px;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	.toggle-icon {
	width: 0.938rem;
	height: 0.938rem;
}
.toggle-button {
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	background-color: rgb(61, 58, 58);
	position: absolute;
	cursor: pointer;
	border: 2px;
	border: 2px solid rgb(150, 134, 134);
}
}

//! min-width: 2000px
@media screen and (min-width: 2000px){
.toggle{
	width: 3.8rem;
	height:2.5rem;
	border: 3px solid rgb(97, 92, 92);
	.toggle-icon {
	width: 1.3rem;
	height: 1.3rem;}
	.toggle-button{
		width: 1.8rem;
		height: 1.8rem;
	}
}
}

//! min-width:1200px and max-width:1439.98px - NOT NEEDED - Section rendering correctly

//! min-width: 992px AND max-width 1199.98px - rendering correctly

//! min-width:768px AND max-width:991.98px
// @media (min-width: 768px) and (max-width: 991.98px){
// .toggle{
// 	width: 2.8rem;
// 	height:1.2rem;
// 	border: 1.5px solid rgb(97, 92, 92);
// 	.toggle-icon {
// 	width: 1rem;
// 	height: 1rem;}
// 	.toggle-button{
// 		width: 1rem;
// 		height: 1rem;
// 	}
// }
// } 
//todo: Dont do above; Its getting rendered correctly*****