.App {
	width: min(100%,2560px);
	margin-inline: auto;
	height:100vh;
	height: 100svh;
	position:relative;


	.Navbar{

		position:absolute;
		inset:auto 0 0 ;
		top:0;
		// background-color: red;
		height: 3.75rem;
		width: 100%;

	}
	.Sections {
		width: 100%;
		position: relative;
		height: calc(100vh - 3.75rem);
		height: calc(100svh - 3.75rem);
		top: 3.75rem;
		scroll-behavior: smooth;
		scroll-snap-type: y mandatory;
		scrollbar-width: none; //for firefox
		&::-webkit-scrollbar {
			display: none;
		}
		> * {
			
			height: calc(100vh - 3.75rem);
			height: calc(100svh - 3.75rem);
			scroll-snap-align: start;
		}
	}
}

//! min-width: 2000px
@media screen and (min-width: 2000px){
	.App{
		.Navbar{
			height: 5rem;
		}
		.Sections{
			height: calc(100vh - 5rem);
			height: calc(100svh - 5rem);
			top:5rem;
			> * {
				height: calc(100vh - 5rem);
				height: calc(100svh - 5rem);
			}
		}
	}
}


//! min-width:1200px and max-width:1439.98px - NOT NEEDED - Section already rendering correctly

//! min-width: 992px AND max-width 1199.98px - rendering correctly

//! min-width:768px AND max-width:991.98px
@media (min-width: 768px) and (max-width: 991.98px) {
.App{
		.Navbar{
			height: 3rem;
		}
		.Sections{
			height: calc(100vh - 3rem);
			height: calc(100svh - 3rem);

			top:3rem;

			> * {
				height: calc(100vh - 3rem);
				height: calc(100svh - 3rem);
			}
		}
	}

}


//!	max-width:767.98px
 
@media (min-width: 321px) and (max-width: 767.98px){
	.App{
		.Navbar{
			height:3rem;
		}
		.Sections{
			height: calc(100vh - 3rem);
			height: calc(100svh - 3rem);

			top: 3rem;

			> * {
				height: calc(100vh - 3rem);
				height: calc(100svh - 3rem);
			}
		}
	}
}

@media screen and (max-width: 320.98px){

 .App{
	.Navbar {
		height: 2rem;
	}
	.Sections{
			height: calc(100vh - 2rem);
			height: calc(100svh - 2rem);

			top: 2rem;

		> * {
				height: calc(100vh - 2rem);
				height: calc(100svh - 2rem);
			}
		}
}}