.images {
	width: 60px;
	height: auto;
	object-fit: scale-down;
	padding: 0 15px;
	// border-radius: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.boxDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	// 	// padding-right: 100px;
}

.boxDivText {
	font-size: 1.2rem;
	padding-left: 50px;
	padding-right: 50px;
}
.boxSpan {
	display: flex;
	justify-content: center;
	align-items: center;
}

.boxText {
	// display: inline;
}

.unit {
	padding:0 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

// @media screen and (max-width: 480px) {
// 	.images {
// 		height: 50px;
// 	}

// 	.unit {
// 		padding-right: 10px;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 	}
// }
